.name {
  color: WHITE;
}
/* .team-buttons {
  display: flex;
  margin: 0;
} */

.content-table {
  border-collapse: collapse;
  margin: 30px;
  font-size: 1.3em;
  min-width: 400px;
  margin-top: 0px;
}

.content-table thead tr {
  background-color: #1e1e1e;
  color: antiquewhite;
  text-align: center;
  font-weight: bold;
}
.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.content-table tbody tr:nth-of-type(even) {
  background-color: rgb(175, 173, 173);
}
.content-table tbody tr:nth-of-type(odd) {
  color: rgb(175, 173, 173);
  background-color: black;
}
.content-table button {
  margin-top: 15px;
  padding: 10px;
}
#ball {
  font-size: 50px;
}
.footer-buttons {
  display: flex;
  justify-content: center;
}

.player-table {
  border: 1px solid red;
}

ul {
  color: white;
  /* display: inline-flex; */
}
.manual-pagination {
  min-width: 850px;
  margin-top: 100px;
  align-self: center;
  text-decoration: none;
  list-style: none;
  display: inline-flex;
  column-gap: 20px;
  background-color: white;
  color: black;
  padding: 10px;
}

.next-prev-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}
.hoversort:hover {
  background-color: grey;
  color: #1e1e1e;
  padding: 5px;
}
.hoversort {
  padding: 5px;
}
.pagi-item:hover {
  background-color: rgb(126, 113, 115);
}
.pagi-item a {
  padding: 3px;
}
