.login-form {
  background: linear-gradient(
    152.97deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(42px);
  color: white;
  border-radius: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text-field input {
  color: white;
  /* margin: 20px */
}

.password,
.username {
  padding: 20px;
}

.actual-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 35em;
  width: 50vh;
}
.username input {
  padding: 20px;
}
.password input {
  padding: 20px;
}
.footer-question,
.footer-signup {
  align-self: center;
}

.footer-signup {
  border-radius: 10px;
  align-self: center;
  padding: 15px;
  background-color: #3f51b5;
  margin-bottom: 10px;
}

.footer-signup a {
  color: white;
  font-weight: bold;
}
