.comment-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 2000px;
}

.every-single-comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 400px;
  border: 1px solid rgb(103, 132, 146);
  border-radius: 5px 25px;
  background-color: #57aee9;
  background-image: linear-gradient(315deg, #182b3a 0%, #1d4189 74%);
  padding: 10px;
}
.every-single-comment:nth-of-type(even) {
  background-image: linear-gradient(315deg, #182b3a 0%, #c70f2d 74%);
}
.every-single-comment:nth-of-type(3n) {
  background-image: linear-gradient(315deg, #182b3a 0%, #f1eeef 74%);
}

.every-single-comment h1 {
  background-color: #1D9BF0;
  color: white;
  padding: 10px 40px;
  margin-top: 3px;
  border-radius: 8px;
  box-shadow: 3px -2px rgb(26, 27, 27);
}

.whole-comments {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 60px;
  padding-top: 0px;
  align-items: center;
  align-items: center;
}

.comments-to-separate {
  display: flex;
  flex-direction: column;
}

.comment-section {
  background-color: white;
  width: 900px;
  padding: 50px;
}

.comment-form {
  margin-bottom: 55px;
  border-radius: 10px;
  width: 500px;
  padding: 15px 40px;
  background-color: #2b4162;
  background-image: linear-gradient(315deg, #607088 0%, #12100e 74%);
}
.add-book-form {
  color: white;
}

.add-book-form h3 {
  color: white;
  background-color: #b7bfc5;
  background-image: linear-gradient(315deg, #182b3a 0%, #20a4f3 74%);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 3px -2px rgb(47, 48, 48);
}

.content {
  background-color: rgb(188, 206, 211);
  padding: 10px;
  border-radius: 10px;
}

.the-card-it-self {
  margin-top: 150px;
}
